<%- include header.ejs %>
<div class="pageTitle">Pointages hebdomadaires</div>
<div style="float : left;">
<div style="margin-top : 30px; margin-left : 80px;max-width : 1000px;"><%- include('pointageFront') %></div>
</div>
<%- include('connectwindow') %>
<%- include('changelogwindow') %>
	

</body>
</html>
